<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/lib/twitter-bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div class="container">  @*添加bootstrap的样式类container*@
        @RenderBody()
    </div>


    @if (IsSectionDefined("Scripts"))
    {@RenderSection("Scripts", required:
false)  }

    

</body>
</html>
